.test-api-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #cccccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.test-api-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.test-api-subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: normal;
}

.test-api-body {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: normal;
}

.test-api-button {
    width: 20%;
    min-width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.test-api-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.test-api-button:hover:not(:disabled) {
    background-color: #0056b3;
}

.test-api-message {
    margin-top: 20px;
    font-size: 16px;
    color: #333333;
}